<div class="row">
	<div class="col-md-4 col-lg-3">
		<div class=" p-3 bg-white rounded-5">
			{{ drupal_block('views_exposed_filter_block:vista_clientes-block_1') }}
            
		</div>
	</div>
	<div class="col">
		<div class="p-3 bg-white rounded-5">
			{{ drupal_block('views_block:vista_clientes-block_1') }}
		</div>
	</div>
</div>